.hide{
    display: none;
}
.error-text {
    color: #ff4500;
}
.loader{
    margin: 0 auto;
    height: 84px;
    width: 84px;

}
.loader-div{
    height: 128px;
}
.ul-mar{
    margin-right: 60px;
}
.welcome {
    margin: 35px;
    color: green;
}

